body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to fill the viewport */
    background-color:beige;
}
.error {
    margin-left: 30px;
    margin-top: 30px;
    color: red;
}
.Question {
    text-align: center;
    padding: 10px; /* Adding padding for spacing */
}

table.answer-table {
    flex-grow: 1; /* Grow to fill remaining space */
    width: 100%;
    border-collapse: separate; /* Separate border model */
    border-spacing: 10px; /* Add spacing between cells */
    font-weight: bold;
    text-align: center;
    margin: 0; /* Remove default margin */
}

table.answer-table td {
    /*border: 4px solid black; /* Set border width to 4px */
    background-color: darkslategray;
    font-size: xx-large;
    border-radius: 10px; /* Make borders more rounded */
    padding: 10px; /* Add padding */
    width: 50%;
}

